<div id="hero">
    <div class="grid-container">
        <div class="grid-y align-justify" >
            <div id="hero-container" class="cell">
                <div class="grid-x">
                    <div id="front-info" class="cell medium-8 medium-offset-4">
                        <!--<div id="front-profile-picture">-->
                            <!--<img src="assets/img/profile-bw.png"/>-->
                        <!--</div>-->
                        <h1><span>{{ site.data.hero.title }}</span></h1>
                        <h5 class="sans-serif">{{ site.data.hero.subtitle }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
