<div id="resume-header" class="page-header">
    <div class="grid-container">
        <div class="grid-x">
        <div id="resume-contact" class="cell medium-6">
            <h6>Contact</h6>
            <ul class="">
                <li><i class="fa fa-envelope"></i>&nbsp;<a href="javascript:window.location.href = 'mailto:' + ['me','mailoarsac.com'].join('@')">me<!---->@<!----><span>mailoarsac.com</span></a></li>
            </ul>

        </div>

        <div id="resume-social" class="cell medium-6">
            <ul class="">
                <li><i class="fa fa-map-marker"></i>&nbsp;{{ site.location }}</li>
            </ul>

            <ul>
                <li><a class="github" href="https://github.com/arsac"><i class="fa fa-github"></i></a></li>
                <li><a class="linkedin" href="https://www.linkedin.com/in/mailoarsac"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="twitter" href="https://twitter.com/Mailo_Arsac"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
        </div>
    </div>
</div>