<div class="social">
  {% if site.github_username%}<a class="github" href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><i class="fa fa-github"></i></a>{% endif %}
  {% if site.linkedin_username%}<a class="linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"><i class="fa fa-linkedin"></i></a>{% endif %}
  {% if site.twitter_username%}<a class="twitter" href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><i class="fa fa-twitter"></i></a>{% endif %}
  {% if site.rss %}<a class="rss" href="{{ 'feed.xml' | relative_url }}"><i class="fa fa-rss"></i></a>{% endif %}

</div>

